@import '../../../styles/reusable.scss';

.s-order-box {
  width: 100%;
  max-width: 800px;
  padding: 20px 15px;
  margin: 0 auto 40px auto;
  border: solid 1px $color-secondary;
  box-shadow: 0 5px 12px 6px rgba($color-bg-shadow, .05);
}