@import '../../styles/reusable.scss';

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 15px 0;
  background-color: $color-bg;
  box-shadow: 0 0 4px 0 rgba($color-black, .2);

  &__wrap {
    @include flex(flex-start, center, nowrap);
  }

  &__logo {
    width: 60px;
    height: 60px;
    border-radius: 999px;
    overflow: hidden;
    // margin-bottom: -30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__icon {
    margin-left: auto;
  }

  &__cart {
    display: block;
    height: 20px;
    background-color: red;
    cursor: pointer;
    font-size: 0;

    &.cart-open {
      background-color: yellow;
    }

    img, svg {
      width: auto;
      max-width: 25px;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
    }
  }
}