@import '../../styles/reusable.scss';

.topbar {
  @extend %shadow-medium;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 15px 0;
  background-color: $color-bg;

  &__wrap {
    @include flex(flex-start, center, nowrap);
  }

  &__logo {
    height: 34px;
    overflow: hidden;

    @media #{$md} {
      height: 40px;
    }
    @media #{$lg} {
      height: 48px;
    }

    img {
      width: auto;
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__icons {
    @include flex(flex-end, center, nowrap);
    margin-left: auto;
  }

  &__icon {
    position: relative;
    margin-left: 18px;
    height: 20px;
    cursor: pointer;
    font-size: 0;

    @media #{$lg} {
      margin-left: 30px;
    }

    img, svg {
      width: auto;
      max-width: 25px;
      height: 100%;
      object-fit: contain;
    }
  }

  &__user {

  }

  &__cart {
    @media #{$lg} {
      display: none;
    }

    &-quantity {
      position: absolute;
      z-index: 1;
      font-size: 12px;
      bottom: -4px;
      right: -4px;
      background-color: $color-primary;
      border-radius: 999px;
      width: 16px;
      height: 16px;
      line-height: 16px;
      color: $color-text-white;
      text-align: center;
    }
  }
}