@import '../../styles/reusable.scss';

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 15px 0;
  background-color: $color-bg;
  box-shadow: 0 0 4px 0px rgba($color-black, .2);

  &__logo {
    width: 60px;
    height: 60px;
    border-radius: 999px;
    overflow: hidden;
    // margin-bottom: -30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}