@import '../../styles/reusable.scss';

.m-boxes {
  background-color: $color-bg;
  
  &__wrap {
    @include flex(flex-start, stretch, wrap);
    margin: 0 -5px;
  }

  &__error {
    padding: 60px 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
}