@import '../../styles/reusable.scss';

.m-boxes {
  background-color: $color-bg;
  // padding: 40px 0;
  
  &__wrap {
    @include flex(space-between, stretch, wrap);
  }

  &__error {
    padding: 60px 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
}