@import '../../styles/reusable.scss';

.m-boxes {
  background-color: $color-bg;
  
  &__wrap {
    @include flex(flex-start, stretch, wrap);
    margin: 0 -5px;
  }

  &__error {
    padding: 60px 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }

  &__link {
    text-align: center;
    padding: 15px 0 60px 0;

    @media #{$lg} {
      display: none;
    }
  }

  &__btn {
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: 8px;
    line-height: 36px;
    border: solid 2px $color-secondary;
    font-size: 14px;
    padding: 0 30px;
    display: inline-block;
  }
}