@import './reusable.scss';
// selection
::selection {
    background: $color-primary;
    color: $color-bg;
}

html {
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  overflow: hidden;
  margin-top: 80px;
}
