// colors
$color-primary: #14213d;
$color-secondary: #fca311;
$color-bg-alt: #e5e5e5;
$color-bg: #ffffff;
$color-bg-shadow: #000000;
$color-text-white: #ffffff;
$color-black: #000000;
$color-error: #FF2244;
$color-disabled: #333533;
$color-summary-box: #dddddd;

// font
$font-main: 'Helvetica', sans-serif;

// mixins
@mixin flex($x: flex-start, $y: flex-start, $wrap: wrap) {
  display: flex;
  justify-content: $x;
  align-items: $y;
  flex-wrap: $wrap
}

@mixin transition($property: all, $duration: .3s, $ease: ease-in-out){
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}

// grid
$grid-gutter: 15px;
$grid-gutter-container: 15px;

$grid-container: 100%;
$grid-container-sm: 540px;
$grid-container-md: 720px;
$grid-container-lg: 960px;
$grid-container-xl: 1140px;
$grid-container-xxl: 1560px;

$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1640px;

$max-xs: 575px;
$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: 1639px;

// breakpoints
$xs: "only screen and (max-width: #{$max-xs})";
$sm: "only screen and (min-width: #{$min-sm})";
$md: "only screen and (min-width: #{$min-md})";
$lg: "only screen and (min-width: #{$min-lg})";
$xl: "only screen and (min-width: #{$min-xl})";
$xxl: "only screen and (min-width: #{$min-xxl})";


// typography
%product-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;

  @media #{$md} {
    font-size: 18px;
  }
  @media #{$lg} {
    font-size: 20px;
  }
}

%product-type {
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  
  @media #{$md} {
    font-size: 12px;
  }
}

%product-price {
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;

  @media #{$md} {
    font-size: 14px;
  }
  @media #{$lg} {
    font-size: 15px;
  }
}

%h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.33;

  @media #{$md} {
    font-size: 26px;
  }
  @media #{$lg} {
    font-size: 32px;
  }
}

%p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: normal;

  @media #{$md} {
    font-size: 15px;
  }
  @media #{$lg} {
    font-size: 16px;
  }
}