@import '../../styles/reusable.scss';

.products {
  //min-height: 100vh;

  &__inner {
    @include flex(flex-start, flex-start, nowrap);
    position: relative;
  }

  &__mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    background-color: $color-bg-alt;

    @media (max-width: $max-md) {
      display: none;
    }
  }

  &__summary {
    position: absolute;

    @media #{$lg} {
      position: sticky;
      top: 78px;
      width: 100%;
      max-width: 400px;
      flex: 0 0 400px;
    }
  }

  &__content {
    margin: 0 10px;
    width: 100%;
    max-width: 1280px;
    padding: 10px 0 60px 0;
    //-ms-overflow-style: none;
    //scrollbar-width: none;

    @media #{$md} {
      margin: 0 auto;
      padding: 28px 15px 30px;
    }
    @media #{$lg} {
      padding: 30px 15px 80px;
    }
    @media #{$xxl} {
      padding: 30px 30px 50px;
    }

    //&::-webkit-scrollbar {
    //  display: none;
    //}
  }

  &__content {
    
  }
}