@import '../../../styles/reusable.scss';

.summary-item {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
  color: $color-text-white;
  border-bottom: solid 1px rgba($color-text-white, .2);
  padding: 0 3px 15px 3px;

  &:last-of-type {
    border-bottom: none;
  }

  &__name {
    display: block;
    margin-bottom: 6px;

    strong {
      font-size: 16px;
      font-weight: 700;
      margin-right: 10px;
    }
  }

  &__wrap {
    @include flex(space-between, center, nowrap);
    margin-bottom: 6px;
  }

  &__value {
  }

  &__price {
  }
}