@import '../../../styles/reusable.scss';

.summary-item {
  margin-bottom: 30px;

  &__name {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
    
    strong {
      font-size: 16px;
      font-weight: 700;
      margin-right: 10px;
    }
  }

  &__wrap {
    @include flex(space-between, center, nowrap);
    margin-bottom: 6px;
  }

  &__value {
    display: block;
  }
}