@import '../../styles/reusable.scss';

.summary {
  height: 100%;
  background-color: rgba($color-bg-alt, .2);
  padding: 60px 30px;
  position: relative;
  // position: sticky;
  // top: 0;

  &.scrolled{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    left: 15px;
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 100px;
  }

  &__info {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
  }

  &__btn-wrap {
    margin-top: 40px;
    text-align: center;
  }

  &__btn {
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: 8px;
    line-height: 36px;
    border: solid 2px $color-secondary;
    font-size: 14px;
    padding: 0 30px;
    display: inline-block;
  }
}