@import '../../styles/reusable.scss';

.summary {
  @include transition;
  position: fixed;
  right: -320px;
  top: 0;
  padding: 30px 15px;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  background-color: $color-bg-alt;
  z-index: 99;
  
  @media #{$lg} {
    //position: static;
    position: sticky;
    top: 0;
    right: 0;
    left: auto;
    max-width: none;
    padding: 60px 30px;
    height: auto;
  }

  &__title {
    @extend %h2;
    color: $color-text-white;
    text-align: center;
    margin-bottom: 100px;
  }

  &__info {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
  }

  &__btn-wrap {
    margin-top: 40px;
    text-align: center;
  }

  &__btn {
    @extend %button-styles;
  }

  &--mobile {
    left: auto;
    right: 0;
  }
}