@import '../../styles/reusable.scss';

.checkout {
  height: 100%;
  overflow: auto;
  background-color: $color-bg-alt;
  padding: 60px 0;

  &__title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 100px;
  }

  &__info {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
  }
}