@import '../../../styles/reusable.scss';

.checkout-input {
  margin-bottom: 25px;

  &__label {
    font-size: 12px;
    color: $color-primary;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }

  &__input {
    width: 100%;
    height: 35px;
    border: solid 1px $color-primary;
    font-size: 16px;
  }
}