@import '../../../styles/reusable.scss';

.checkout-input {
  margin-bottom: 30px;
  position: relative;

  span {
    font-size: 12px;
    // margin-top: 5px;
    color: $color-error;
    font-weight: 300;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 2px;

    &.input-tip {
      left: auto;
      right: 0;
      color: $color-black;
    }
  }

  &__label {
    font-size: 12px;
    color: $color-primary;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }

  &__input {
    @include transition;
    width: 100%;
    height: 35px;
    border: solid 1px $color-primary;
    font-size: 16px;

    &.invalid {
      border-color: $color-error;
    }
  }
}