@import '../../../styles/reusable.scss';

.s-box {
  background-color: $color-bg;
  margin-bottom: 50px;
  // flex: 0 0 28%;
  flex: 0 0 44%;

  &__image {
    box-shadow: 0 5px 12px 6px rgba($color-bg-alt, .5);
    background-color: #ffffff;
    height: 200px;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
  }

  &__options {
    @include flex(space-between, stretch, nowrap);
  }

  &__item {
    flex: 0 0 45%;
    text-align: center;
  }

  &__type {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
  }
  &__price {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
  }
  &__btn {
    @include transition;
    width: 40px;
    height: 25px;
    border-radius: 999px;
    margin: 0 2.5px;
    background-color: $color-primary;
    color: $color-text-white;
    font-weight: 700;

    &[disabled] {
      opacity: .2;
      cursor: default;
    }
    &:hover:not([disabled]) {
      background-color: darken($color-primary, 10%);
    }
  }
}