@import '../../../styles/reusable.scss';

.s-box {
  @extend %shadow-small;
  background-color: $color-bg;
  margin: 0 5px 30px 5px;
  flex: 0 0 100%;
  border-radius: 12px;
  overflow: hidden;

  @media #{$sm} {
    flex: 0 0 calc(50% - 10px);
  }
  @media #{$xxl} {
    flex: 0 0 calc(33.333% - 10px);
    //padding: 15px 20px;
  }

  &__image {
    //box-shadow: 0 5px 10px 0 rgba($color-bg-shadow, .1);
    background-color: #ffffff;
    //margin-bottom: 15px;
    position: relative;

    &::after {
      content: '';
      padding-bottom: 56%;
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__content {
    padding: 15px 20px;
  }

  &__name {
    @extend %h3;
    margin-bottom: 12px;
    text-align: center;
  }

  &__item {
    @include flex(flex-start, center, nowrap);
    //margin: 0 -10px 15px -10px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: solid 1px rgba($color-primary, .2);

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &__col {
    width: 100%;
    margin: 0 10px;

    &--buttons {
      @include flex(flex-end, flex-start, nowrap);
      margin-left: auto;
    }
  }

  &__type {
    @extend %p-medium;
    margin-bottom: 5px;

    strong {
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  &__price {
    //@extend %product-price;
    @extend %p;
    font-weight: 700;
    margin-top: 8px;
  }
  
  &__btn {
    @include transition($duration: .2s);
    position: relative;
    width: 30px;
    height: 24px;
    border: solid 1px $color-secondary;
    background-color: transparent;
    display: block;
    padding: 0;

    @media #{$md} {
      width: 35px;
      height: 28px;
      margin-left: 0;
    }

    &:first-of-type {
      border-radius: 4px 0 0 4px;
      margin-right: 5px;
    }
    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }

    &:hover:not([disabled]) {
      background-color: $color-secondary;
      color: $color-text-white;
    }

    &[disabled] {
      cursor: default;
      opacity: 0;
      visibility: hidden;
    }

    img {
      @include transition();
      height: 10px;
      width: 10px;
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}