@import '../../../styles/reusable.scss';

.s-box {
  background-color: $color-bg;
  // flex: 0 0 44%;
  // flex: 0 0 320px;
  box-shadow: 0 5px 12px 6px rgba($color-bg-shadow, .05);
  padding: 5px;
  margin: 0 5px 30px 5px;
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  
  @media #{$sm} {
    flex: 0 0 calc(33.333% - 10px);
  }
  @media #{$lg} {
    padding: 15px 20px;
  }

  &__image {
    box-shadow: 0 5px 10px 0 rgba($color-bg-shadow, .1);
    background-color: #ffffff;
    margin-bottom: 15px;
    position: relative;

    &::after {
      content: '';
      padding-bottom: 100%;
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__name {
    @extend %product-title;
    margin-bottom: 12px;
    text-align: center;
  }

  &__item {
    @include flex(flex-start, flex-start, nowrap);
    margin: 0 -10px 15px -10px;
  }

  &__col {
    width: 100%;
    margin: 0 10px;

    &--buttons {
      @include flex(flex-end, flex-start, nowrap);
      margin-left: auto;
    }
  }

  &__type {
    @extend %product-type;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  &__price {
    @extend %product-price;
    margin-top: 5px;
  }
  
  &__btn {
    @extend %product-price;
    @include transition($duration: .2s);
    width: 30px;
    height: 20px;
    border-radius: 999px;
    margin-left: 3px;
    border: solid 2px $color-primary;
    background-color: transparent;
    color: $color-primary;
    display: block;
    padding: 0;

    @media #{$md} {
      width: 40px;
      height: 22px;
      margin-left: 5px;
    }

    &[disabled] {
      cursor: default;
      opacity: 0;
      visibility: hidden;
    }
    &:hover:not([disabled]) {
      background-color: $color-primary;
      color: $color-text-white;
    }
  }
}