@import '../../../styles/reusable.scss';

.input-field {
  margin-bottom: 30px;
  position: relative;

  span {
    font-size: 12px;
    color: $color-error;
    font-weight: 300;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 2px;

    &.input-tip {
      left: auto;
      right: 0;
      color: $color-text;
    }
  }

  &__label {
    font-size: 12px;
    color: $color-text;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-bottom: 8px;
    display: block;
    padding: 0 20px;
  }

  &__input {
    @include transition;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 100%;
    height: 45px;
    border: solid 1px $color-primary;
    padding: 0 20px;
    border-radius: 999px;

    &.invalid {
      border-color: $color-error;
    }
  }
}