@import '../../styles/reusable.scss';

.thanks {
  text-align: center;
  padding: 50px 0;
  h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__wrap {
    text-align: center;
  }

  &__btn {
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: 8px;
    line-height: 36px;
    border: solid 2px $color-secondary;
    font-size: 14px;
    padding: 0 30px;
    display: inline-block;
  }
}