@import '../../styles/reusable.scss';

.thanks {
  text-align: center;
  padding: 50px 0;

  @media #{$md} {
    padding: 80px 0;
  }
  @media #{$lg} {
    padding: 100px 0;
  }
  @media #{$xxl} {
    padding: 120px 0;
  }

  &__headline {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: $color-text;

    @media #{$md} {
      font-size: 42px;
    }
    @media #{$lg} {
      font-size: 50px;
    }
  }

  &__desc {
    @extend %h3;
    font-weight: 500;
    color: $color-text;
  }

  &__wrap {
    text-align: center;
    margin-top: 30px;

    @media #{$md} {
      margin-top: 50px;
    }
    @media #{$lg} {
      margin-top: 80px;
    }
  }

  &__btn {
    @extend %button-styles;
    @extend %button-styles--large
  }
}