@import '../../styles/reusable.scss';


.auth {
  margin: 50px 15px;

  &__inner {
    width: 100%;
    max-width: 600px;
    padding: 30px 15px;
    border: solid 2px $color-secondary;
    margin: 0 auto;
  }

  &__title {
    @extend %h1;
    text-align: center;
  }

  &__message {
    @extend %p;
    color: $color-error;
    text-align: center;
    margin: 20px 0;
  }

  &__button-wrap {
    text-align: center;
    margin: 20px 0 0 0;
  }

  &__button {
    @include transition;
    @extend %p;
    display: inline-block;
    cursor: pointer;

    &:hover {
      color: $color-secondary;
    }
  }
}