@import '../../styles/reusable.scss';

.checkout-container {
  padding: 20px 15px;
  
  @media #{$lg} {
    padding: 20px 60px;
  }

  &__form {
  }

  &__error {
    @extend %p;
    color: $color-error;
    text-align: center;
    margin: 20px 0;
  }
}